---
import type { PageHeaderProps } from "./types";

const {
	title,
	subtitle,
	class: className = "",
} = Astro.props as PageHeaderProps;
---

<div class={`flex flex-col items-start justify-center mb-6 sm:mb-8 ${className}`}>
	<h1
		class="text-2xl sm:text-3xl font-bold leading-tight text-black/90 dark:text-white/90 mb-2 relative
			before:w-1 before:h-6 sm:before:h-7 before:rounded-md before:bg-[var(--primary)]
			before:absolute before:top-1/2 before:-translate-y-1/2 before:-left-4"
	>
		{title}
	</h1>
	{
		subtitle && (
			<p class="text-sm sm:text-base leading-relaxed text-black/65 dark:text-white/65">
				{subtitle}
			</p>
		)
	}
</div>
